<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memorytiles">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/FullScreenTheme">
        <activity android:name=".about"
            android:screenOrientation="portrait"/>
        <activity android:name=".settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityPractice6x6"
            android:screenOrientation="portrait"/>
        <activity android:name=".practice_end_activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityPractice4x4"
            android:screenOrientation="portrait"/>
        <activity android:name=".practice_menu"
            android:screenOrientation="portrait"/>
        <activity android:name=".play_menu"
            android:screenOrientation="portrait"/>
        <activity android:name=".play_end_activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityPlay4x4"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityPlay6x6"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>